<html>
<body>
<h1>List of items</h1>
<a href="/items/new">Create a new item</a>
<ul>
  <li>Veggie Burger - <a href="/items/1">Show item</a></li>
  <li>Portabello Fajita - <a href="/items/2">Show item</a></li>
  <li>Soup N Salad - <a href="/items/3">Show item</a></li>
</ul>
</body>
</html>